body {

    margin: 0px;
    font-family: sans-serif;
}

.section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 30%;
    margin: 10rem auto 0 auto;
}

.section img {

    height: 250px;
}

.section h1 {
    margin: 0;
    color: greenyellow;

}

.section {
    color: brown;
    margin-left: 1px;
    margin-top: 5px;
}